.head{
    height: 200px;
    max-width:100%;
    background-color: skyblue;
    display:flex;
    justify-content: center;
    align-items: center;
}
.name{
    font-size: 40px;
    color: yellow;
}
.city{
    height: 40px;
    box-sizing: border-box;
}
.city:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  }

  @media screen and (max-width: 1920px) {
    head{
        width: 1920px;
    }
}
@media screen and (max-width: 1600px) {
    head{
        width: 1600px;
    }
}
@media screen and (max-width: 1280px) {
    head{
        width: 1280px;
    }
}
@media screen and (max-width: 1920px) {
    head{
        width: 1920xp;
    }
}